<template>
    <div id="container">
        <img src="../../static/img/bottomid2.png"/>
        <span>DigID gebruikersnaam *</span><br/>
        <input class="input" v-model="name" v-on:keyup.enter="methode"></input> <br/>
        <span>Wachtwoord *</span>
        <input class="input" type="password"></input> <br/>
        <img src="../../static/img/topdigid2.png"/>
        <input type="submit" class="button" v-on:click="methode" value="Inloggen"></input><br/>
        <img src="../../static/img/bottomestid.png"/>
    </div>
</template>
<script>
    export default{
        name: 'firstscreen',
        methods: {
            methode: function(){
                this.$emit("statechange", this.name);
            }
        },
        data:function(){
            return{
                name:""
            }
        }
    }
</script>
<style>
#container {
    width: 960px;
    margin: auto;
    margin-top: -60px;
}

#container span {
    float: left;
    margin-left: 250px;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 3px;
    color: black;
    font-weight: bold;
    vertical-align: baseline;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1,5em;
}

.input {
    border-color: #000;
    border-style: solid;
    height: 20px;
    font-size: 12px;
    border-width: 1px;
    font-family: Verdana, Arial, sans-serif;
    width: 333px;    
    display: block;
    margin-left: 250px;
    padding-left: 3px;
}

.button {
    background-color: #deebe3;
    border: 1px solid #000;
    font-weight: bold;
    padding: .4em 1em;
    color: black;
    float: left;
    display: block;
    margin-left: 250px;
}

.button:hover {
    color: white;
    background-color: gray;
}
</style>