<template>
    <div>
        <h1>WW Aanvragen</h1>
        <div class="container">
        <ul>
            <li v-for="(item, index) in totaleVragenLijst.questions" :key="index" v-on:click="goTo(index)" v-bind:class="{current: index === status}">{{item[0].epicTitle}}</li>
            <li v-on:click="goTo(3)"  key="3" v-bind:class="{current: 3 === status}">Controleren</li>
        </ul>
        <ul v-show="status !== 3">
            <li v-for="vraag in totaleVragenLijst.questions[status]"><span>{{vraag.question}}</span>
                <span v-show="vraag.valueType == 1">
                    <input type="radio" :name="vraag.qnumber" v-model="vraag.value" v-bind:value="a"/>
                       <label>Ja</label>
                    <input type="radio" :name="vraag.qnumber" v-model="vraag.value" v-bind:value="b"/>
                        <label>Nee</label>
                </span>
                <span v-show="vraag.valueType == 2"><input type="text" placeholder="dd-mm-yyyy" v-model="vraag.value"></input></span>
                <span v-show="vraag.valueType == 3">
                    <select v-model="vraag.value">
                        <option :value="undefined" selected disabled hidden>selecteer een andere dag</option>
                        <option v-for="item in vraag.numberOfOptions">{{item}}</option>
                    </select>                    
                </span>               
                    
            </li>
        </ul>
         <div v-show="status === 3"> 
            
            <div class="evaluationText">
                <div id="succes"><img src="../../static/img/check.png"/></div>
                We hebben uw gegevens voor u gecheckt, alles is ingevuld. U kunt uw antwoorden nog een keer doorlopen door op
                de stappen op de linkerkant te drukken. Als u klaar bent klik dan op verzenden. 
            </div>
        </div>
        </div>
        <div id="buttons"><button v-on:click="updateIndex(-1)">Ga terug</button><button v-on:click="stop()">Stoppen</button><button v-on:click="updateIndex(1)">{{nextMessage}}</button></div>
    </div>
</template>
<script>
    export default{
        name:"formulier",
        props:["index"],
        data:function(){
            return{
                nextMessage:"Volgende",
                a:true,
                b:false,
                status:0,
                totaleVragenLijst:{questions:[[{epicTitle:"Check 1", qnumber:0, question:"Voortzetten van mijn eerder beëindigde WW-uitkering", dependendOn:-1, dependentOnValue:false, valueType:1, value:'none' },
                {epicTitle:"Check 1", qnumber:1, question:"Mijn faillisementsuitkering stopt", dependendOn:1, dependentOnValue:true, valueType:1, value:'none'},
                {epicTitle:"Check 1",qnumber:2, question:"Mijn Ziektewet of WAZO uitkering stopt of ik krijg geen WIA-uitkering", dependendOn:-1, dependentOnValue:true, valueType:1, value:'none'}],
                [{epicTitle:"Check 2",qnumber:3, question:"Raakt u uw werk volledig kwijt?", dependendOn:-1, valueType:1, value:'none' },
                {epicTitle:"Check 2", qnumber:4, question:"Bent u oproepkracht?", dependendOn:1, dependentOnValue:true, valueType:1, value:'none'},
                {epicTitle:"Check 2", qnumber:5, question:"Bent u uitzendkracht?", dependendOn:-1, dependentOnValue:true, valueType:1, value:'none'},
                {epicTitle:"Check 2", qnumber:6, question:"Bent u uitzendkracht met een uitzendbeding?", dependendOn:-1, dependentOnValue:true, valueType:1, value:'none'},
                {epicTitle:"Check 2", qnumber:7, question:"Vanaf wanneer stopt of verandert uw arbeidsovereenkomst?", dependendOn:-1, dependentOnValue:true, placerholder:"dd-mm-yyyy", valueType:2, value:""}],
                [{epicTitle:"Check 3", qnumber:8, question:"Werkte u elke dag dezelfde dagen?", dependendOn:-1, dependentOnValue:true, valueType:1, value:'none'},
                {epicTitle:"Check 3", qnumber:9, question:"zou u normaal gesproken werken op 29-10-2017?", dependendOn:-1, dependentOnValue:true, valueType:1, value:'none'},
                {epicTitle:"Check 3", qnumber:10, question:"Zo nee, welke dag dan wel", dependendOn:-1, numberOfOptions:["30-10-2017","31-10-2017","01-11-2017","02-11-2017","03-11-2017","04-11-2017","05-11-2017"], dependentOnValue:true, valueType:3, value:'testtest'}]
                ]
                }
            }
        },
        methods:{
            updateIndex: function(val){
                this.status += val;
                if (this.status === 3){
                    this.nextMessage = "Verzenden";
                }
            },
            goTo: function(index){
                if (index !== 3){
                    this.nextMessage = "Volgende";
                } else{
                    this.nextMessage = "Verzenden";
                }
                this.status = index;
            },
            stop: function(){
                location.reload()
            }
        }
    }

</script>
<style scoped>
h1 {
    margin: auto;
    display: inline-block;
}
.container {
    display: flex;
    justify-content: center;
}

ul:first-child {
    list-style: none;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}
ul:first-child li {
    font-size: 0.9em;
        padding: 5px 0;
    border-bottom: 1px solid black;
}
ul:first-child li:hover {
    cursor: pointer;
    font-style: italic;
}
ul:nth-child(2) {
    list-style: none;
    text-align:left;
    margin-right: 60px;
}
ul:nth-child(2) li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
        border-bottom: 1px solid black;
    padding: 5px;
}
label {
    font-style:italic
}
#buttons {
    margin-top: 20px;
}
#buttons button:first-child, #buttons button:nth-child(3) {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
#buttons button:first-child:hover, #buttons button:nth-child(3):hover {
    background-color: lightblue;
    color: black;
}
#buttons button:nth-child(2) {
    background-color: white;
    color: red;
    padding: 5px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    transition: background-color 0.5s;
    cursor: pointer;
}
#buttons button:nth-child(2):hover {
    background-color: salmon;
}
.current {
    font-weight: 900;
    font-style: italic;
    font-size: 1.1em;
}
.evaluationText{
    background-color: lightgreen;
    border-radius: 5px;
    margin-left:7%;
    margin-top:6vh;
    width:70%;
    padding:10px;
}
#succes img{
    height: 50px;
    margin-top: -34px;
}
</style>