<template>    
    <div id="recommendation">
        <h1> Goedemiddag {{this.$parent.user}},</h1>
        <p> Aan de hand van dAan de hand van de gegevens die bij ons bekend zijn hebben we producten geselecteerd waar u waarschijnlijk voor in aanmerking komt. e gegevens die bij ons bekend zijn hebben we producten geselecteerd waar u waarschijnlijk voor in aanmerking komt. e gegevens die bij ons bekend zijn hebben we producten geselecteerd waar u waarschijnlijk voor in aanmerking komt.</p>
        <h2>Producten waar u voor in aanmerking komt:</h2>
        <ul>
            <li v-for="li in this.$parent.rechtop"> 
                <div class=visual> 
                    <img :src="'../../static/img/homepage_'+li[0]+'.jpg'" /> 
                </div> 
                <a :href="li[1]">{{li[0]}}</a> 
            </li>
            <li>
                <div class=visual>
                    <img src="../../static/img/homepage_formulier.jpg" />
                </div>
                <a v-on:click="update">Ander formulier</a>
            </li>
         </ul>
        <h2> u heeft al:</h2>
        <ul>
            <li v-for="li in this.$parent.uheeft"> 
                <div class=visual> 
                    <img :src="'../../static/img/homepage_'+ li +'.jpg'" /> 
                </div> 
                <a href="">{{li}}</a> 
            </li>
        </ul>
    </div>
</template>
<script>
    export default{
        name: 'secondscreen',
        data: function(){
            return{
                list:[]
            }          
        },
        methods:{
            update: function(){
                this.$emit("statechange");
            }
        },
        created:function(){
            console.log("iets doen");
        }
    }
    
</script>
<style scoped>
h1 {    
    font-size: 2.8rem;
    color: #006aca;
    font-weight: normal;
    line-height: 3.2rem;
    margin-bottom: .5rem;
    margin-top: 0;
}

h2 {
    font-soze: 3.2rem;
    color: #006aca;
    font-weight: normal;
    line-height: 3.2rem;
    margin-bottom: .5rem;
    margin-top: 0;
}

p {
    width: 70%;
    margin: auto;
}
ul {
    list-style: none;
    display: table;
    width: 60%;
    margin: auto;
    padding-left:0px;    
}

li {
    display: inline-block;
    color: white;    
    width: 293px;
    height: 210px;
    margin: 20px;
    position: relative;
}

li a {
    position: absolute;
    bottom: 0px;
    display: block;    
    background-color: #006aca;
    color: #fff;
    text-decoration: none;
    height: 88px;    
    font-family: 'UwvSansLight', Verdana, sans-serif;
    font-size: 3rem;
    font-size: 2.2rem;
    width: 100%;
    opacity: .7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li a:hover{
    opacity: .9;
}
.visual {
    width: 100%;
    height: 100%;
}

.visual img {
    border-radius: 10px;
}
</style>