<template>  
  <div id="app">    
    <firstscreen v-show="state === 0" v-on:statechange="statechange"></firstscreen>
    <secondscreen v-show="state === 1" v-on:statechange="statechange"></secondscreen>
    <formulier v-show="state ===2"></formulier>
  </div>
</template>

<script>
import firstscreen from './components/first';
import secondscreen from './components/second';
import formulier from './components/formulier';
import axios from 'axios';
export default {
  name: 'app',
  data: function(){
    return{
      state:0,
      user:"",
      rechtop:{},
      uheeft:{}
    }
  },
  components: {
    firstscreen,
    secondscreen,
    formulier
  },
  methods:{
    statechange:function(user){
      this.user = user;
      let self = this; 
      axios.get("http://localhost:8000/hk/persoon/2/").then(function(response){
        self.uheeft = response.data.regelingen;
      });
      axios.get("http://localhost:8000/hk/suggesties/2/").then(function(response){
        self.rechtop= response.data.data;
      });
      this.state++;

    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
